.Room_Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Room_Header {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    align-items: center;
}
.Header_Room_P {
    color: var(--color-primary);
    width: 120px;
    margin: 0px;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
}

.Room_Header-Text {
    margin-top: 35px;
}

.Header_Room_arrow {
    align-self: center;
}


.NavLamp {
    margin-top: 0px;
}

.Details_Settings {
    position: absolute;
    bottom: 75px;
    
    background-color: var(--color-primary);
    color: var(--color-DarkPurple);
    height: 580px;
    width: 350px;

    padding: 20px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.PowerOff {
    position: absolute;
    top: -20px;
    right: 15px;
}

/* ------------- INTENSITY ---------- */

.Intensity_Container {
    margin-left: 0px;
    margin-right: 0px;

}

.Intensity_Swipe {
    margin-left: 20px;
    margin-right: 20px;
}

/* ------------- COLORS ------------- */

.Color_Selection {
    display: flex;
    flex-direction: row;
}

.Color {
    height: 30px;
    width: 30px;

    border-radius: 20px;
    margin-right: 20px;
}

.Color1 {
    background-color: #FF9B9B;
}
.Color2 {
    background-color: #94EB9E;
}
.Color3 {
    background-color: #94CAEB;
}
.Color4 {
    background-color: #A594EB;
}
.Color5 {
    background-color: #DE94EB;
}
.Color6 {
    background-color: #EBD094;
}
.ColorPlus {
    background-color: var(--color-secondary);
    display: flex;
    align-self: center;
    justify-content: center;
}


/* ------------- SCENES ------------- */

.Scene_Container {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 60px;
    row-gap: 20px;
    column-gap: 35px;
}

.Scene {
    height: 60px;
    width: 160px;
    border-radius: 10px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Scene_Bolb {
    margin-left: 20px;
    margin-right: 20px;
}

.Scene_Text {
    color: var(--color-secondary);
    margin: 0px;
}

.Scene1 {
    background: rgb(255,155,155);
    background: linear-gradient(10deg, rgba(255,155,155,1) 0%, rgba(255,188,145,1) 100%);
}
.Scene2 {
    background: rgb(166,147,235);
    background: linear-gradient(10deg, rgba(166,147,235,1) 0%, rgba(218,147,235,1) 100%);
}
.Scene3 {
    background: rgb(147,202,235);
    background: linear-gradient(10deg, rgba(147,202,235,1) 0%, rgba(147,221,235,1) 100%);
}
.Scene4 {
    background: rgb(137,221,148);
    background: linear-gradient(10deg, rgba(137,221,148,1) 0%, rgba(191,236,146,1) 100%);
}