


.Room_Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Room_Header {
    padding: 20px;
    margin-top: 30px;
    align-items: center;
}
.Header_Room_P {
    color: var(--color-primary);
    width: 120px;
    margin: 0px;
    font-size: 36px;
    font-weight: bolder;
    align-self: center;
}

.Header_Room_arrow {
    align-self: center;
}


.Details_Settings {
    position: absolute;
    bottom: 75px;
    
    background-color: var(--color-primary);
    color: var(--color-DarkPurple);
    height: 450px;
    width: 350px;

    padding: 20px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
